<%= render AdminView, "sub_title.html", assigns do %>
	<h4 class="mb-2 py-2q">All Regions</h4>
<% end %>

<section class="container my-3">
	<%= for region <- @regions do %>
		<div class="">
			<h6 class="">
				<a href="<%= RouterHelpers.admin_region_path(@conn, :show, region) %>"><%= Title.html(region, %{with_parent: true}) %></a>
			</h6>
		</div>
	<% end %>
</section>
