<%= render "header.html", assigns %>

<section class="container my-5">
	<%= render "form.html",
	  changeset: @changeset,
	  action_path: admin_listing_request_marketing_path(@conn, :create, @listing) %>
</section>
