<%= render ListingView, "sub_title.html", assigns, active_nav: "marketing" %>

<section class="container my-5">
	<%= render "form.html",
	  changeset: @changeset,
	  action_path: admin_listing_request_marketing_path(@conn, :create, @listing) %>
</section>
