<%= render AdminView, "sub_title.html", assigns do %>
	<h4 class="mb-2 py-2q">All Groups</h4>
<% end %>

<%= render "request_changes.html", assigns %>

<section class="container my-3">
	<%= for group <- @groups do %>
		<div class="">
			<h6 class="">
				<a href="<%= RouterHelpers.admin_group_path(@conn, :show, group) %>"><%= Title.html(group) %></a>
			</h6>
		</div>
	<% end %>
</section>
