<%= render_subtitle assigns %>

<%= render "request_changes.html", assigns %>

<section class="container my-3">
	<%= definition_list(:details, @group, @conn) |> AdminView.render_definition_list %>
</section>

<section class="container mt-3 mb-5">
	<%= definition_list(:meta, @group) |> AdminView.render_definition_list %>
</section>
