<section class="container my-4">
	<h1 class="text-center mb-3">Uh oh! There seems to have been an error processing your submission.</h1>
	<noscript>
		<p class="py-2q px-1 font-family-sans-serif rounded bg-danger text-white text-center">To show errors, JavaScript is required. We're sorry for the inconvenience!</p>
	</noscript>
	<div id="error-container" style="overflow: auto;">

	</div>
</section>
<script>
	window.errorEmail = "<%= @error_email %>"
</script>
