<h2>Edit Listing</h2>

<%= render "form.html",
  changeset: @changeset,
  action_path: admin_listing_path(@conn, :update, @listing),
  group_id_choices: @group_id_choices %>

<p><%= link "Back", to: admin_listing_path(@conn, :index) %></p>
