<%= render_subtitle "info", assigns %>

<section class="container text-center font-family-sans-serif">
	<p class="mb-0 text-danger">Saving any changes will automatically un-approve this listing!</p>
</section>

<section class="container mt-3 mb-5">
	<%= render "form.html", assigns %>
</section>
