<%= render ListingView, "sub_title.html", assigns, active_nav: "tkn" %>

<section class="container my-5">
	<%= render "form.html",
		changeset: @changeset,
		action_path: admin_listing_tkn_listing_path(@conn, :create, @listing),
		back_path: admin_listing_tkn_listing_path(@conn, :show, @listing) %>
</section>
