<div class="workflow">
	<%= for {step, _index, last} <- HTMLHelpers.with_position(@workflow) do %>
		<div class="<%= if last == :last do "" else "mb-3 pb-3 step-border" end %>">
			<%= step %>
		</div>
	<% end %>
</div>
