<section class="py-2q px-1 font-family-sans-serif bg-danger text-white text-center">
	<div class="container">
		<p class="mb-0">This page is a preview of how the listing will appear on the home page.</p>
	</div>
</section>
<%= render IndexView, "opportunities.html", assigns %>
