@import "tufte";

.item-meta {
	color: $gray-600;
	li.list-inline-item {
		margin-right: map-get($spacers, 3q);
		i {
			color: $primary-dark;
		}
		&:last-child {
			margin-right: 0;
		}
		&:after {
			content: '|';
			color: $gray-300;
			font-family: $font-family-serif;
			font-weight: 100;
			margin-left: map-get($spacers, 3q);
		}
		&:last-child:after {
			content: none;
		}
	}
}
