// Base variables
@import "base";

// Dependencies
@import "fontawesome";
@import "bootstrap/scss/bootstrap";

// Other files
@import "convenience";
@import "choices";
@import "flatpickr";


html {
	font-size: 16px;
	font-variant-ligatures: common-ligatures contextual;
    font-feature-settings: "liga", "clig", "calt", "kern";
    font-kerning: normal;
}

html.app-layout, {
	height: 100%;

	body,
	body > div.wrapper {
		height: 100%;
	}

	main {
		flex: 1 0 auto;
	}
}

html.embedded-layout {
	body,
	body > div.wrapper,
	main {
		// overflow-y: auto;
	}
}

html.pdf-export-layout {
	-webkit-print-color-adjust: exact;

	body {
		margin: 2px;
		padding: 2px;
	}
}

header {
	transition: 0.33s opacity ease-in-out;
	&:hover {
		opacity: 1;
	}
	nav {
		// border-bottom: 1px solid $white;
	}

	a {
		color: $primary;
		// font-family: $font-family-serif;
	}

	h1 {
		font-weight: 100;
	}

	nav.navbar .nav-item {
		& > .nav-link {
			padding: 0.5rem;
		}
		&:first-child > .nav-link {
			padding-left: 0;
		}
		&:last-child > .nav-link {
			padding-right: 0;
		}

		.dropdown-toggle::after {
			margin-left: .35em;
			vertical-align: .15em;
		}

		.dropdown-menu .nav-link:not(.active) {
			color: $navbar-light-color;
		}
	}
}

footer {
	border-top: 1px solid $gray-200;
	font-family: $font-family-serif;
	color: $gray-700;
	flex-shrink: 0;
}

a {
	// text-decoration: underline;
}

small {
	line-height: $line-height-sm;
}

.break-word {
	overflow-wrap: break-word;
	hyphens: auto;
}

.font-family-sans-serif {
	font-family: $font-family-sans-serif;
	font-size: $font-size-base-sans-serif;
}

.font-family-serif {
	font-family: $font-family-serif;
}

.font-size-base {
	font-size: $font-size-base;
}

.blockquote-border {
	border-left: 6px solid $gray-200;
}

.page-break-unit {
	page-break-after: auto;
	page-break-before: auto;
	page-break-inside: avoid;
}

#old-browsers {
	background: $danger;
	color: #FFF;
	a {
		color: #FFF;
	}
}
