// Base variables
@import "base";

// Dependencies
@import "fontawesome";
@import "bootstrap/scss/bootstrap";

// Other files
@import "convenience";
@import "flatpickr";


html {
	font-size: 16px;
	font-variant-ligatures: common-ligatures contextual;
    font-feature-settings: "liga", "clig", "calt", "kern";
    font-kerning: normal;
}

html.app-layout, {
	min-height: 100%;
	height: 100%;

	body,
	body > div.wrapper {
		min-height: 100%;
		height: 100%;
	}

	header,
	footer {
		flex-shrink: 0;
	}

	main {
		flex: 1 0 auto;
	}
}

html.embedded-layout {
	body,
	body > div.wrapper,
	main {
		// overflow-y: auto;
	}
}

html.pdf-export-layout {
	-webkit-print-color-adjust: exact;

	body {
		margin: 2px;
		padding: 2px;
	}
}

header {
	transition: 0.33s opacity ease-in-out;
	&:hover {
		opacity: 1;
	}
	nav {
		// border-bottom: 1px solid $white;
	}

	a {
		color: $primary;
		// font-family: $font-family-serif;
	}

	h1 {
		font-weight: 100;
	}

	nav.navbar .nav-item {
		& > .nav-link {
			padding: 0.5rem;
		}
		&:first-child > .nav-link {
			padding-left: 0;
		}
		&:last-child > .nav-link {
			padding-right: 0;
		}

		.dropdown-toggle::after {
			margin-left: .35em;
			vertical-align: .15em;
		}

		.dropdown-menu .nav-link:not(.active) {
			color: $navbar-light-color;
		}
	}
}

footer {
	border-top: 1px solid $gray-200;
	font-family: $font-family-serif;
	color: $gray-700;
}

a {
	// text-decoration: underline;
}

small {
	line-height: $line-height-sm;
}

// TODO: test this out
@media (-webkit-max-device-pixel-ratio: 1.3), (max-resolution: 124.8dpi) {
    h1, h2, h3, h4, h5, h6, .font-family-sans-serif {
		letter-spacing: 0.6px;
	}
}

.break-word {
	overflow-wrap: break-word;
	hyphens: auto;
}

.font-family-sans-serif {
	font-family: $font-family-sans-serif;
	font-size: $font-size-base-sans-serif;
}

.font-family-serif {
	font-family: $font-family-serif;
}

.font-size-base {
	font-size: $font-size-base;
}

.blockquote-border {
	border-left: 6px solid $gray-200;
}

.page-break-unit {
	page-break-after: auto;
	page-break-before: auto;
	page-break-inside: avoid;
}

img.disabled {
	opacity: $btn-disabled-opacity;
	filter: grayscale(100%);
}

label.required-label {
	position: relative;
	&:after {
		content: '*';
		position: absolute;
		color: $complement-two;
		font-size: 2 * $font-size-base-sans-serif;
		line-height: 1;
		margin-left: 2px;
	}
}
