@import "base";
@import "listing-meta";
@import "listing-textblob";

section.title {
	.social {
		font-size: 1.5rem;
		line-height: 1;
		li.list-inline-item {
			margin-right: 8px;
		}
	}
}

section.apply {
	.required-label {
		&:after {
			content: '*';
			color: $complement-two;
			font-size: $font-size-lg;
			line-height: 1;
			margin-left: 3px;
		}
	}
	// .required-label-legend {
	// 	color: $gray-400;
	// }
}
