@import "base";
@import "listing-meta";

h1 {
	// color: $complement-one;
}

section.title {
	.social {
		font-size: 1.5rem;
		line-height: 1;
		li.list-inline-item {
			margin-right: 8px;
		}
	}
}

section.content {
	h4 {
		margin-top: map-get($spacers, 4);
		font-size: $h6-font-size;
		text-transform: uppercase;
	    color: $primary;
		&:first-of-type {
			margin-top: 0;
		}
	}
}

section.apply {
	.required-label {
		&:after {
			content: '*';
			color: $complement-two;
			font-size: $font-size-lg;
			line-height: 1;
			margin-left: 3px;
		}
	}
	// .required-label-legend {
	// 	color: $gray-400;
	// }
}

.posted-expiry {
	// font-size: $font-size;
}
