@import "base";
@import "listing-meta";

main {
	min-height: 630px;
	width: 1200px;
	background: $primary;
}

hr {
	// border-color: rgba(0,0,0,0.08);
	width: 32px;
}

.about {
	font-weight: 100;
	font-style: italic;
	color: $gray-600;
}

.cta {
	font-weight: 300;
}

.listing {

	h1 {
		font-size: 4.768rem;
		font-weight: 300;
		line-height: 1.2;
		strong {
			font-weight: 600;
		}
	}

	.item-meta {
		opacity: 0.75;
		margin-bottom: 0;
		font-size: $h3-font-size;
		font-weight: 100;
		color: rgba(255, 255, 255, 1.0);
		li.list-inline-item {
			display: block;
			em {
				color: rgba(255, 255, 255, 1.0);
				font-weight: 400;
			}
			i {
				color: rgba(255, 255, 255, 0.75);
				margin-right: 1.5rem !important;
			}
			&:after {
				content: none;
			}
		}
	}

	.description {
		font-size: $h3-font-size;
		line-height: $line-height-sm;
		font-weight: 400;
		color: #FFF;
	}

}
