@import "../base";
@import "../listing-meta";
@import "../listing-textblob";

header {
	background: #F7F7F7;
}

section.title {
	background: #F7F7F7;
	border-bottom: 1px solid $nav-tabs-border-color;
}

section.title .nav-tabs {
	margin-bottom: -1px;	
}

.form-group trix-editor {
	min-height: 8rem;
}

label.required-label {
	position: relative;
	&:after {
		content: '*';
		position: absolute;
		color: $complement-two;
		font-size: $font-size-lg;
		line-height: 1;
		margin-left: 2px;
	}
}
