{
  "presets": [
    [
      "@babel/env", {
        "modules": false,
        "targets": {
          "browsers": ["last 6 versions", "> 1%"]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
