<div class="alert <%= @container_class %> m-0 rounded-0 border-left-0 border-right-0 text-center font-family-sans-serif" role="alert">
	<div class="container">
		<p class="m-0">
			<i class="<%= @icon_class %> mr-2q" aria-hidden="true"></i>
			<%= @content %>
		</p>
	</div>
</div>
