<div class="form-group">
  <%= label @form, @field, @title, class: "control-label" %>
  <%= text_input @form, @field, class: input_classes(@form, @field), placeholder: @placeholder %>
  <%= error_tag @form, @field %>
</div>
