<div class="form-group row mb-2">
	<div class="col-sm-3 text-sm-right">
		<%= label @form, @field, @title, class: label_classes(assigns, ["col-form-label", "font-family-sans-serif"]) %>
	</div>
	<div class="col-sm-9">
		<%= assigns[:do] %>
	</div>
</div>
