<!-- <div class="form-group row mb-2 align-items-top"> -->
<div class="row align-items-top">
	<div class="col-sm-5">
		<%= assigns[:do] %>
	</div>
	<div class="col-sm-7">
		<%= select(@form, @select, @select_choices,
			[
				class: input_classes(@form, @field, ["form-control"]),
				required: (if assigns[:required] == true, do: true, else: false)
			]) %>
	</div>
</div>
