<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ismaili Volunteer</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div>
          <%= if Session.logged_in?(@conn) do %>
            <p><%= Session.get_user(@conn).title %></p>
            <p><a href="<%= auth_path(@conn, :logout) %>">Logout</a></p>
          <% else %>
            <p><a href="<%= auth_path(@conn, :login) %>">Login</a></p>
          <% end %>
        </div>
      </header>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
