<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <meta name="description" content="{{ .Site.Params.description }}"> -->
	<!-- <meta name="author" content=""> -->

	<!-- <link rel="icon" type="image/png" href="/favicon.png" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->

	<title><%= PageTitle.render(assigns) %></title>

	<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

	<%= render_or_fallback("head_extra", assigns) %>

	<%= SocialTags.render(assigns) %>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>

</head>
<body>

	<%= render "old_browsers.html" %>

	<div class="wrapper d-flex flex-column flex-nowrap">

		<%= render_or_fallback("body_header", assigns) %>

		<%= render_or_fallback("body_main", assigns) %>

		<%= render_or_fallback("body_footer", assigns) %>

	</div>

	<link rel="stylesheet" href="https://use.typekit.net/imw4stg.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/raven.js/3.21.0/raven.min.js" crossorigin="anonymous"></script>
	<script type="text/javascript">
		Raven.config('https://8130b93bc1e74deab16568c276e3134e@sentry.io/253594').install()
	</script>

	<script src="<%= static_path(@conn, "/js/modernizr.js") %>"></script>
	<script src="<%= static_path(@conn, "/js/old_browsers.js") %>"></script>
	<script src="<%= static_path(@conn, "/js/app.js") %>"></script>

	<%= render_or_fallback("body_extra", assigns) %>

	<%= render_or_fallback("analytics", assigns) %>

</body>
</html>
