<footer>
	<div class="container p-3 font-family-sans-serif text-center">
		<div class="d-print-none content d-flex flex-column justify-content-center align-items-center">
			<p class="small my-0"><a href="mailto:<%= Application.fetch_env!(:volunteer, :contact_email) %>">His Highness Prince Aga Khan Shia Imami Ismaili Council for Ontario</a></p>
			<p class="small my-0"><a href="mailto:alizain@eightzerothree.co">803 Inc.</a></p>
		</div>
	</div>
</footer>
