<footer>
	<div class="container p-1 font-family-sans-serif text-center">
		<div class="d-print-none content d-flex flex-row justify-content-center align-items-center">
			<p class="small my-0 mx-3q"><%= Application.fetch_env!(:volunteer, :global_attribution) %></p>
			<p class="small my-0 mx-3q"><a href="mailto:<%= Application.fetch_env!(:volunteer, :global_email) %>">Contact Us</a></p>
		</div>
	</div>
</footer>
