<a class="navbar-brand p-0" href="/">
	<img src="<%= RouterHelpers.static_path(@conn, assigns[:img_path] || "/images/logo.png") %>" width="auto" height="46" alt="<%= Application.fetch_env!(:volunteer, :global_title) %>">
</a>

<ul class="navbar-nav ml-auto font-family-sans-serif d-print-none flex-row justify-content-center flex-wrap">
	<%= NavbarItems.render(assigns) %>
</ul>
