<%= if @item_href == nil do %>
  <li class="nav-item">
	<span class="nav-link"><%= @item_text %></span>
  </li>
<% else %>
	<li class="nav-item">
	  <a class="nav-link <%= if @item_active?, do: "active" %>" href="<%= @item_href %>"><%= @item_text %></a>
	</li>
<% end %>
