<!DOCTYPE html>
<html lang="en", class="pdf-export-layout">
<head>
	<%= render "head.html", assigns %>
</head>
<body>
	<%= render_with_block "body.html", assigns do %>

		<%= render @view_module, @view_template, assigns %>

	<% end %>
</body>
</html>
