<div class="row mb-1">
	<div class="col-12 col-md-3 text-md-right mb-1q mb-md-0">
		<strong><p class="m-0"><%= assigns[:title_text] %></p></strong>
	</div>
	<div class="col-12 col-md-9">
		<%= if assigns[:do] do %>
			<%= assigns[:do] %>
		<% else %>
			<%= if @body_text == "" or @body_text == nil do %>
				<p class="mb-0">-</p>
			<% else %>
				<p class="mb-0"><%= assigns[:body_text] %></p>
			<% end %>
		<% end %>
	</div>
</div>
