<% spacing = if assigns[:tight] == true do "mb-1q" else "mb-1" end %>
<div class="row <%= spacing %> align-items-baseline">
	<div class="col-12 col-md-3 text-md-left mb-1q mb-md-0">
		<p class="m-0 font-family-sans-serif text-muted"><%= assigns[:title_text] %></p>
	</div>
	<div class="col-12 col-md-9">
		<%= if assigns[:do] do %>
			<%= assigns[:do] %>
		<% else %>
			<p class="mb-0"><%= assigns[:body_text] |> HTMLHelpers.default_if_blank?() %></p>
		<% end %>
	</div>
</div>
