<div class="font-family-sans-serif form-group mt-3 text-right">
	<%= link HTMLHelpers.icon_with_text("far fa-times", "Discard Changes"), to: @back_path, class: "btn btn-outline-warning px-1 mr-1" %>
	<%= submit HTMLHelpers.icon_with_text("far fa-check", "Save"), class: "btn btn-primary px-2" %>
</div>
