<div class="font-family-sans-serif form-group mt-3 text-right">
	<%= link  {:safe, "<i class=\"far fa-times mr-2q\" aria-hidden=\"true\"></i> Discard Changes"}, to: @back_path, class: "btn btn-outline-warning px-1 mr-1" %>
	<%= submit {:safe, "<i class=\"far fa-check mr-2q\" aria-hidden=\"true\"></i> Save"}, class: "btn btn-primary px-2" %>
</div>
