upstream phoenix_upstream {
	server 127.0.0.1:8888;
}

server {
	listen 80;
	listen [::]:80;

	server_name iicanada-prod;

	# location = /favicon.ico {
  #   access_log off;
  #   log_not_found off;
  #   alias /static/favicon.ico
  # }

	location /static/ {
		root /www/volunteer;
	}

	location / {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		# TODO: enable this if and only if you use HTTPS
		# proxy_set_header X-Forwarded-Proto https;
		proxy_set_header Host $http_host;
		# we don't want nginx trying to do something clever with
		# redirects, we set the Host: header above already.
		proxy_redirect off;
		proxy_pass http://phoenix_upstream;
	}
}
