<p>Ya Ali Madad,</p>

<p>This is an <strong>expiration reminder</strong> for the following listing:</p>

<p><%= render "details.html", listing: @listing, sections: [:reference] %></p>

<p>If you take no action, <strong>it will expire in <%= PublicListingView.expires_in(@listing) %></strong></p>

<p>If it hasn't been filled yet, please refresh expiration as soon as possible.</p>

<p>Best Regards,<br>
<%= Application.fetch_env!(:volunteer, :global_title) %></p>
