<p>Ya Ali Madad,</p>

<p>Your approval has been <strong>requested by <%= Title.text(@requested_by) %></strong> on the following listing:</p>

<p><%= render "details.html", listing: @listing, sections: [:reference] %></p>

<p>Please review and approve at your earliest convenience.</p>

<p>Best Regards,<br>
<%= Application.fetch_env!(:volunteer, :project_title) %></p>
