<p>Ya Ali Madad,</p>

<p>Your approval has been <strong>requested by <%= Title.text(@requested_by) %></strong> on the following listing:</p>

<p><%= render LayoutView, "many_definition_lists.html", sections: ([:reference] |> Enum.map(&VolunteerWeb.Admin.ListingView.definition_list(&1, @listing))) %></p>

<p>Please review and approve at your earliest convenience.</p>

<p>Best Regards,<br>
<%= Application.fetch_env!(:volunteer, :global_title) %></p>
